<html>

<head>
    <title> Page 1 </title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <h1> Reservation </h1>
    <form>
        <input placeholder="entrez votre destination " value="" /> <br /> <br />


        <button type="submit"> Etape suivante </button>

    </form>
</body>

</html>